<!DOCTYPE html>
<html lang="en">
<head>
  <title>pibo Teachable Machine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/socket.io.min.js?ver=1" type="text/javascript"></script>
</head>
<body>
  <div class="center">
    <h1>pibo Teachable Machine</h1>
    <p id="status">TF.js 로딩 대기 중</p>
    <table>
      <tr>
        <td colspan="4">
          <div class="button-group">
            <button id="enableCam">카메라 켜기</button>
            <button id="disableCam">카메라 끄기</button>
            <button id="train">학습하기</button>
            <button id="reset">초기화하기</button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" rowspan="3">
          <img id='view' width=640 height=480 />
        </td>
        <td>
          <div class="button-group">
            <button class="dataCollector" data-1hot="0" data-name="Class 1">Class 1 Data 모으기</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="button-group">
            <button class="dataCollector" data-1hot="1" data-name="Class 2">Class 2 Data 모으기</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="button-group">
            <button class="dataCollector" data-1hot="2" data-name="Class 3">Class 3 Data 모으기</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js" type="text/javascript"></script>-->
  <script src="../static/tf.min-3.11.0.js" type="text/javascript"></script>
  <script type="module" src="../static/script.js?ver=5"></script>
</body>
</html>

